{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

        {% for movie in movies %}

            <div class="card" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        {% endfor %}


    <a href="{{ path('movie_new') }}">Create new</a>
{% endblock %}
